@import "../partials/variables";

.loading {
  margin: 0;
  width: 100%;
  height: 90vh;
  /* background-image: linear-gradient(to left, #ecc942, #b88c33); */
  background-color: $white-40;
  animation: bar-loading 2.5s ease-out forwards;
  z-index: 1;
}

.loadingimg {
  background-image: url("../assets/pics/logo.png");
  height: 90vh;
  width: 100vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 22;
}

@media (max-width: 500px) {
  .loading {
    animation: bar-loading-2 2.5s ease-out forwards;
  }

  @keyframes bar-loading-2 {
    0% {
      width: 18%;
    }
    10% {
      width: 20%;
    }
    100% {
      width: 100%;
    }
  }
}

@keyframes bar-loading {
  0% {
    width: 30%;
    height: 100%;
  }
  10% {
    width: 32%;
  }
  100% {
    width: 100%;
  }
}

.loading-text {
  text-align: center;
  font-size: 2rem;
}
