@import "../partials/variables";
@import "../partials/mixins";

.portfolio-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  // background: linear-gradient(to bottom right, #efa2b5, #aef1ee);
  background-image: url("../assets/pics/coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-size: 16px;
  color: #05203b;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 5vh 15px;
  @include desktop {
    background-image: url("../assets/pics/inspo.jpg");
  }
}
.pp-inner {
  min-height: 100vh;
  padding: 40px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pp-content {
  background-color: $white-25;
  padding: 30px;
  border-radius: 30px;
  max-width: 900px;
  width: 100%;
  border: 1px solid $white-40;
  backdrop-filter: $backdrop-blur;
  opacity: 10;
  transform: scale(0.9);
}
.pp-header {
  position: relative;
}
.pp-header .btn {
  height: 40px;
  width: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  top: -40px;
}
.pp-thumbnail img {
  border-radius: 10px;
}
.modal__title {
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 20px 0 15px;
}

.description {
  margin-bottom: 20px;
}
.general-info {
  ul {
    li {
      margin-bottom: 10px;
      font-weight: 500;
      text-transform: capitalize;
      span {
        font-weight: 300;
        text-transform: capitalize;
        color: red;
      }
      a {
        text-transform: lowercase;
        color: $main-color;
      }
    }
  }
}

ul {
  list-style: none;
}

.modal-pic {
  // max-width: 360px;
  // background-color: $white-25;
  border-radius: 6%;
  // border: 6px solid $white-25;
  // margin: auto;
  max-width: 100%;
  vertical-align: middle;
  // height: 50vh;
  // width: 350px;
  // height: 350px;
  object-fit: cover;
}
