@import "../partials/variables";

.portfolio-section {
  padding-bottom: 70px;
}
.portfolio-item {
  width: calc((100% / 3) - 30px);
  margin: 0 15px 30px;
}
.portfolio-item-thumbnail {
  padding: 10px;
  background-color: $white-25;
  border: 1px solid $white-40;
  border-radius: 10px;
}
.portfolio-item-thumbnail .port-image {
  width: 100%;
  border-radius: 10px;
  // object-fit: contain;
  // object-position: center;
}
.portfolio-item h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 20px 0;
}
// .portfolio-item-details {
//   display: none;
// }
.content {
  padding-top: 4.5rem;
}
