@import "../partials/variables";
@import "../partials/mixins";

// -------------------BODY
body {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom right,
    #dcdfb6,
    #aef1ee /* rgb(51, 39, 116),
    white */
  );
  background-image: url("../assets/pics/coffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-size: 16px;
  color: #05203b;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  padding: 5vh 15px;
  @include desktop {
    background-image: url("../assets/pics/inspo.jpg");
  }
}
body::before {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #aef1c2;
  z-index: -1;
  opacity: 0.12;
}

h1,
h2 {
  font-weight: 500;
}
h3,
h4,
h5 {
  font-weight: 300;
}
a {
  text-decoration: none;
}

//-------------------------- Nav

section {
  background-color: $white-25;
  border: 1px solid $white-40;
  min-height: 90vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}
.main {
  max-width: 1280px; // change for tablet view 3
  margin: auto;
  transition: all 0.9s ease-in-out;
  position: relative;
  @include tablet {
    // max-width: 900px;
    margin: 0 100px;
  }
  @include desktop {
    margin: auto;
  }
  .container {
    padding: 1.5rem;
    width: 100%;
  }
  .nav-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 1rem 0 1rem;
  }
  .navv {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    width: 50px;
    height: 50px;
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid $white-40;
    transition: opacity 0.5s ease-in-out;
  }
  .nav-span {
    height: 2px;
    width: 24px;
    background-color: $main-color;
    position: relative;
    transition: background-color 0.3s ease;
  }
  .nav-span::before,
  .nav-span::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    transition: all 0.3s ease;
  }
  .nav-span::before {
    left: 0;
    transform: translateY(-8px);
  }
  .nav-span::after {
    right: 0;
    transform: translateY(8px);
  }

  .navv:hover span::before,
  .navv:hover span::after {
    width: 50%;
  }
}

.menu {
  background-color: $main-color;
  //   background-color: $white-25;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  border-radius: 30px;
  // align-items: center;
  position: absolute;
  top: 0;
  right: -200%;
  transition: 850ms;
  z-index: 100;

  @include tablet {
    max-width: 100%;
    height: 10vh;
    padding-top: 0;
    justify-items: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
  }
  @include desktop {
    max-width: 50%;
    height: 12vh;
    align-items: center;
    padding: 0 1rem;
    justify-items: flex-start;
    justify-self: right;

    border-radius: 0 0 0 30px;

    // justify-items: right;
  }
}
.menu.active {
  right: 0;
  transition: 350ms;
}
.menu__items {
  @include tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background: red;
  }
}
.menu__toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include tablet {
    flex-direction: row-reverse;
    justify-content: flex-end;
    justify-content: space-between;
    padding: 0;
    // background: red;
  }
}
.nav__text {
  font-size: 24px;
  padding: 1.5rem 0;
  color: $white-25;
  @include tablet {
    font-size: 16px;
    margin-left: 1rem;
    align-items: flex-start;
  }
  @include desktop {
    font-size: 24px;
  }
  &:hover {
    // text-decoration: underline;
    border-bottom: 1px solid $white-40;

    @include tablet {
      padding: 0.85px 0;
    }
  }
}
.close {
  color: $white-25;
  font-size: 2rem;
  margin-bottom: 2rem;
  @include tablet {
    margin-bottom: 0;
    margin: 0 1rem;
    font-size: 1rem;
  }
  @include desktop {
    margin: 0 3rem;
    font-size: 2rem;
  }
}
a {
  color: $white-40;
  text-decoration: none;
}

//------------------------------------------- Homepage

.roow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  //   background-color: green;
  @include desktop {
    // margin-top: 3rem;
    align-items: flex-end;
  }
}
.home__container {
  @include desktop {
    margin-top: 3rem;
  }
}
.home__text {
  order: 1;
  text-align: center;
  //   background-color: yellow;
  width: 100%;
  padding-bottom: 3rem;
  max-width: 100%;
  @include desktop {
    order: -1;
    width: 50%;
  }

  h1 {
    font-size: 42px;
    margin: 1rem 0;
    @include desktop {
      margin: 1rem 0;
    }
  }
  h2 {
    font-size: 25px;
    text-transform: uppercase;
    margin: 1rem 0;
    @include desktop {
      margin: 1rem 0;
    }
  }
  p {
    font-size: 34px;
  }
}

button {
  font-family: inherit;
  user-select: none;
}

.bttn {
  line-height: 1.5;
  width: 100%;
  background-color: $white-25;
  border: 1px solid $white-40;
  padding: 10px 28px;
  display: inline-block;
  border-radius: 30px;
  font-size: 20px;
  color: $main-color;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 19px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease;
  //   background-color: red;
  margin-bottom: 1rem;
  @include tablet {
    width: 50%;
    margin: 1rem;
  }

  @include desktop {
    width: 40%;
    margin: 0.5rem;
    // margin-top: 2.5rem;
  }
}

@include tablet {
  .bttn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: $main-color;
    z-index: -1;
    transition: width 0.3s ease;
    border-radius: 30px;
  }
  .bttn:hover::before {
    width: 100%;
  }
  .bttn:hover {
    color: white;
    border-radius: 30px;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: $white;
}
::-webkit-scrollbar-thumb {
  background-color: $main-color;
}

.home-socials {
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  padding: 1rem 0;
}
.home-icons {
  // background-color: yellow;
  width: 30%;
  height: 30%;
  display: flex;
  align-self: center;
  justify-content: center;
  // padding: 0.2rem 0;
  font-size: 3rem;
  &:hover {
    background-color: $ice;
    border-radius: 30px;
  }
  @include tablet {
    width: 25%;
    font-size: 3rem;
  }
  @include desktop {
    width: 20%;
    font-size: 2.5rem;
  }
}
// ----------------------------- About page

.title {
  text-transform: capitalize;
}

.about__img {
  width: 100%;

  border-radius: 30px;

  border-radius: 10px;
  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 35%;
    padding: 1rem;
  }
}
.imgg__box {
  border-radius: 10px;
  position: relative;
  height: 75vh;
  padding: 1rem;
  @include desktop {
    padding: 0;
  }
}
.about__pic {
  border-radius: 30px;
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.about-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.about-cont {
  font-size: 1.25rem;
  text-align: center;
  padding-bottom: 2rem;

  //   background-color: red;
  max-width: 100%;
  @include tablet {
    text-align: center;
    width: 100%;
    // padding: 0 5rem;
  }
  @include desktop {
    text-align: left;
    padding: 0;
    padding-bottom: 4rem;
  }
}
.about-text {
  border-radius: 30px;
  padding: 1rem;
  word-wrap: none;

  width: 100%;
  @include desktop {
    width: 50%;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 1rem;
  width: 100%;
  @include tablet {
    // width: 70%;
    // padding: 0 4rem;
  }

  @include desktop {
    padding: 0 2rem;
  }
}
.skill-container {
  padding: 10px;

  width: 100%;
  position: relative;
  height: 120px;
  border-radius: 50%;
  background-color: $white-25;
  border: 1px solid $white-40;
  @include tablet {
    width: 100%;
  }
}
.skillImg {
  width: 100%;
  height: 100%;
  //   background-color: red;
  padding: 1rem;
  object-fit: contain;

  cursor: pointer;
  @include tablet {
    filter: grayscale(100%);
    &:hover {
      filter: grayscale(10%);
      transition: 0.8s ease-in;
    }
  }
}

// ---------------RESRUME

// Tabs

.about-tabs {
  margin-top: 20px;
}
.about-tabs .tab-item {
  padding: 2px 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: $darkblue;
  font-size: 20px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 30px 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.about-tabs .tab-item:last-child {
  margin: 0;
}
.about-tabs .tab-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: $main-color;

  transition: width 0.5s ease;
}
.about-tabs .tab-item:hover::before {
  width: 100%;
}
.about-tabs .tab-item.active::before {
  width: 100%;
  background-color: $main-color;
}
.about-tabs .tab-item.active {
  color: $main-color;
  opacity: 1;
  cursor: auto;
}
.tab-item {
  &:hover {
    color: $main-color;
    opacity: 1;
    cursor: pointer;
  }
}
.tab-item ::after {
  color: $main-color;

  opacity: 1;
}
.about-text .timeline {
  position: relative;
}
.about-text .timeline::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 5px;
  background-color: $main-color;
}
.about-text .tab-content {
  padding: 40px 0;
  display: none;
}
.about-text .tab-content.active {
  display: block;
}
.about-text .timeline-item {
  margin-bottom: 30px;
  position: relative;
  padding: 10px 0 0 40px;
}
.about-text .timeline-item::before {
  content: "";
  position: absolute;
  height: 11px;
  width: 11px;
  background-color: $main-color;

  left: 0;
  top: 16px;
  border-radius: 50%;
}
.about-text .timeline-item:last-child {
  margin-bottom: 0;
}
.about-text .timeline-item .date {
  display: block;
  color: $darkblue;

  font-weight: 400;
  margin: 0 0 10px;
  color: $darkblue;
  color: $black;
}
.about-text .timeline-item h4 {
  font-size: 18px;
  text-transform: capitalize;
  margin: 0 0 10px;
}
.about-text .timeline-item h4 span {
  font-weight: 400;
}
.about-text .btn {
  margin: 0 15px 15px 0;
}

.res-btn {
  @include tablet {
    width: 40%;
  }
}
.res-button {
  text-align: center;
  @include tablet {
    width: 50%;
  }
  @include desktop {
    width: 40%;
  }
}

// ==========================================Contaact

.contact-form {
  width: 70%;
}
.input-group {
  width: 100%;
  margin-bottom: 30px;
}
.input-control::placeholder {
  color: $darkblue;
  opacity: 0.8;
  font-weight: 300;
}
.input-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: $white-25;
  padding: 0 20px;
  color: $darkblue;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
}
.input-control:focus {
  border-color: $white-40;
}
textarea.input-control {
  height: 120px;
  resize: none;
  padding-top: 15px;
}
.contact-info {
  width: 40%;
  padding: 0 15px;
  height: 58vh;
}

// Views

.contact {
  // Mobile
  height: 100vh;
  display: flex;
  border-radius: 15px;
  overflow: hidden;

  height: 100%; //--------------------------------------- height of the big card
  backdrop-filter: blur(20px);
  border: 1.5px solid $offwhite;
  background-image: linear-gradient(to bottom right, #dcdfb6, #aef1ee);

  background: transparent;

  flex-direction: column;
  &__info {
    height: 15vh; //------------------------------ height of the contact info

    flex: 0 1 30%;
    border-radius: 15px;
    padding: 40px;
    color: $darkblue;
    background: $backdrop-blur;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    &-header {
      text-transform: uppercase;

      font-size: 1.2rem; // change this for tablet view

      margin: 0 0 1rem 0; // change this for tablet view
    }

    &-content {
      font-size: 1rem;

      margin-bottom: 1rem; // ----------------------change this for tablet view
    }
    .span-content {
      font-size: 1rem;
    }

    .icon-text {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 2rem;
    }

    .socials {
      display: flex;
      // width: 50%; //--------------------------------------change this for tablet and desktop

      justify-content: space-evenly;
      .icon-circle {
        flex: 0 1 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        border-radius: 50%;

        transition: 0.3s all ease-in-out;
        &:hover {
          background: $ice;
        }
      }
    }
  }
}

.contact-flex {
  display: flex;
  align-items: flex-start;
  //   justify-content: space-around;
  padding: 0 100px;
}
.logo-img {
  max-width: 100%;
  vertical-align: middle;

  object-fit: cover;
}
.contact:hover {
  background: $white-40;
}
.icon-text:hover {
  color: $darkblue;
}

.contact-flex {
  //   background-color: red;
  padding: 0;
  flex-direction: column;
  position: relative;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
  }
}
.contact-row {
  //   background-color: yellow;
  width: 100%;
  position: relative;
  height: 100%;

  @include tablet {
    width: 100%;
  }
  @include desktop {
    width: 70%;
  }
}

.submit__btn {
  // background-color: red;
  @include tablet {
    width: 70%;
    margin: 0 15%;
  }
  @include desktop {
    width: 100%;
    margin: 0;
  }
}

form {
  //   background-color: brown;
  width: 100%;
  //   margin-top: 2rem;
  padding: 2rem 0;
  @include desktop {
    width: 90%;
  }
}

.form-container {
  width: 100%;
}

.input__group {
  width: 100%;
}

.inputControl {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: none;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  background-color: $white-25;
  padding: 0 20px;
  color: $darkblue;
  border: 1px solid transparent;
  transition: border-color 0.3s ease;
  margin: 1rem 0;
  &::placeholder {
    color: $darkblue;
    opacity: 0.8;
    font-weight: 300;
  }
  &:focus {
    border-color: $white-40;
  }
}
textarea.inputControl {
  height: 120px;
  resize: none;
  padding-top: 15px;
}
.contact {
  //   background-color: red;
  max-width: 100%;
  @include tablet {
    height: 10%;
  }
}
.info-row {
  width: 100%;
  height: 50%;
  //   background-color: red;
  //   margin: 0;
  padding-left: 0;
  padding-right: 0;
  @include tablet {
    width: 70%;
    padding: 2rem 0;
    height: 20%;
  }
}
.contact__info {
  @include tablet {
    height: 20%;
  }
}
.contact-row {
  position: relative;
  height: auto;
}
.contact-form {
  @include tablet {
    height: 10%;
  }
}
// -card tablet and desktop

.contact-flex {
  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-row {
  // background-color: yellow;
  width: 100%;
}
.contact {
  // background-color: red;
  width: 100%;
}

.contact__info .socials {
  //   background-color: red;
  width: 100%;
  justify-content: space-between;
}
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // justify-content: flex-start;
  // background-color: yellow;
}
.socials__container {
  //   background-color: blue;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.contact__logo {
  //   background-color: yellow;
  width: 100%;
  position: relative;
  height: inherit;
  overflow: none;
}
.logo__img {
  // margin: 1rem;
  //   background-color: green;
  width: 100%;
  height: 100%;
}

@include tablet {
  .contact-flex {
    // background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .info-row {
    // background-color: yellow;
    width: 100%;
  }
  .contact {
    // background-color: red;
    width: 100%;
  }

  .contact__info .socials {
    // background-color: red;
    width: 100%;
    justify-content: space-between;
  }
  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // justify-content: flex-start;
    // background-color: yellow;
  }
  .socials__container {
    // background-color: blue;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .contact__logo {
    // background-color: yellow;
    width: 100%;
    position: relative;
    height: inherit;
    overflow: none;
  }
  .logo__img {
    // margin: 1rem;
    // background-color: green;
    width: 100%;
    height: 100%;
  }
}

@include desktop {
  .contact__info .socials {
    // background-color: red;
    width: 50%;
    align-items: center;
    justify-content: space-between;
  }
  .socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // justify-content: flex-start;
    // background-color: yellow;
  }
  .socials__container {
    // background-color: blue;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .contact__logo {
    // background-color: yellow;
    width: 100%;
    position: relative;
    height: inherit;
    overflow: none;
  }
  .logo__img {
    // margin: 1rem;
    // background-color: green;
    width: 100%;
    height: 100%;
  }

  .contact-Container {
    // background-color: brown;
    // width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.submit__btn {
  @include tablet {
    // background-color: yellow;
  }
}
.contact-bttn {
  @include tablet {
    // background-color: red;
    width: 100%;
    margin: 0;
    font-size: 16px;
  }
  @include desktop {
    width: 50%;
  }
}
// ======================================== Portfolio

.portfolio-section {
  padding-bottom: 70px;
}
.portfolio-item {
  //   margin: 0 15px 30px;
  background-color: red;
  @include tablet {
    width: calc((100% / 5) - 30px);
    max-width: 50%;
  }

  //   @include desktop {
  //     width: calc((100% / 3) - 30px);
  //   }
}
.portfolio-item-thumbnail {
  padding: 10px;
  background-color: $white-25;
  border: 1px solid $white-40;
  border-radius: 10px;
  position: relative;
  height: auto;
}
.portfolio-item-thumbnail .port-image {
  width: 100%;
  border-radius: 10px;
  height: 100%;
  // object-fit: contain;
  // object-position: center;
}
.portfolio-item h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 20px 0;
}
// .portfolio-item-details {
//   display: none;
// }
.content {
  padding-top: 4.5rem;
}

.port-row {
  //   background: yellow;
  padding: 1rem 0;
}
.portfolio-card {
  width: 100%;
  //   background: red;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-bottom: 2px solid $darkblue;
  @include tablet {
    width: 45%;
    border-bottom: none;
  }
  @include desktop {
    width: 30%;
  }
}

.projectBtn {
  width: 80%;
  font-size: 1.2rem;
}
.port-title {
  padding: 1rem;
  font-size: 2rem;
  @include desktop {
    font-size: 1.5rem;
  }
}
.button-pos {
  position: fixed;
  top: 0%;
  left: 10%;
  bottom: 15%;
}

// Clean-up

.title {
  padding-top: 1rem;
}

// @include tablet {
//   .row-about {
//     border: 2px solid red;
//   }
//   .about-text {
//     background-color: green;
//     width: 100%;
//     padding: 0;
//   }
//   .about-cont {
//     background-color: yellow;
//     padding: 0;
//   }
//   .wrapper {
//     padding: 0;
//     width: 100%;
//   }
//   .skill-container {
//   }
// }

.main {
  @include tablet {
    max-width: 100%;
  }
}

.icon-circles {
  // flex: 0 1 50px;
  display: flex;
  // justify-content: center;
  align-items: center;
  // height: 100px;
  border-radius: 50%;
  padding: 0.5rem;
  // background-color: red;
  transition: 0.3s all ease-in-out;
  &:hover {
    background: $ice;
  }
}
.modal-icon {
  display: flex;
  align-items: center;
  // background-color: yellow;
  height: 5rem;
  // padding: 0 8rem;
  justify-content: space-between;
  width: 60%;
  @include tablet {
    // padding: 0 15rem;
    width: 30%;
  }
  @include desktop {
    // padding: 0 3rem;
    width: 40%;
  }
}

// MODAL
.pp-body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}
.general-info {
  // background-color: green;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem;
  overflow: hidden;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    margin: 0 0 0 5rem;
    flex-direction: column;
  }
}
.description {
  @include desktop {
    width: 50%;
  }
}
