$tablet-breakpoint: 768px;
$tablet-pro: 1024px;
$desktop-breakpoint: 1280px;
$mobile: 375px;
$ultra-breakpoint: 1540px;
$mercury: #e1e1e1;
$offwhite: #fafafa;
$ice: rgb(204, 226, 233);
$black: rgba(0, 0, 0, 0.845);
$beige: rgb(220, 206, 194);
$darkblue: #05203b;
$navy: #13182c;
$darkgold: #857233;
$darkbeige: rgb(198, 177, 159);

$main-color: #e02f6ac0;
$pink: #efa2b5;
$blue: #0000ff;
$orange: #ffa500;
$cyan: #aef1ee;
$white: #ffffff;
$green: #aef1c2;
$white-40: rgba(255, 255, 255, 0.4);
$white-25: rgba(255, 255, 255, 0.25);
$backdrop-blur: blur(5px);
